body {
  background-color: #c1bcb4;
}

h1 {
  text-align: center;
  color: #3b2603;
}

input {
  padding: 15px;
  font-size: 16px;
}

form input:first-child {
  width: 75%;
  border-radius: 10px;
}

form input:nth-child(2) {
  border-radius: 6px;
  background-color: #40321b;
  color: #e5e0d8;
  margin-left: 8px;
}

form input:nth-child(2) {
  background-color: #63410c;
  color: #fff;
}

footer {
  text-align: center;
  font-size: 21px;
  padding: 8px;
  color: #664510;
}

footer a {
  text-decoration: none;
  font-weight: bold;
  color: #664510;
}

footer a:hover {
  opacity: 0.8;
}

.container {
  margin: 120px auto 50px auto;
  max-width: 710px;
}

.form-container {
  margin: 30px 0;
  background-color: #c1bcb4;
  padding: 35px;
  border-radius: 10px;
  box-shadow: 0 26px 58px 0 rgba(0, 0, 0, 0.22),
    0 5px 14px 0 rgba(0, 0, 0, 0.18);
}

.example {
  font-style: italic;
  opacity: 0.6;
  margin-top: 12px;
  font-size: 15px;
  color: #352202;
}

.poem {
  background-color: #c1bcb4;
  padding: 15px;
  border-radius: 10px;
  border-left: 4px solid #40321b;
  font-size: 18px;
  line-height: 2.5;
  color: #3b2603;
  box-shadow: 0 26px 58px 0 rgba(0, 0, 0, 0.22),
    0 5px 14px 0 rgba(0, 0, 0, 0.18);
  font-style: italic;
}

.poem strong {
  color: #744b05;
  font-weight: bold;
  padding: 8px auto;
  opacity: 0.8;
}

.hidden {
  display: none;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.generating {
  animation: blinker 2s linear infinite;
}


/*Small Screen*/
@media (max-width: 477px) {

  .form-container{
    margin: 30px 13px;
    padding: 35px 28px;
  }

  .poem{
    margin: 20px 13px;
  }
  
  #search-input{
    width: 185px;
  }

  footer{
    font-size: 14px;
  }

}